<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/books/tabs/explore"></ion-back-button>
    </ion-buttons>
    <ion-title>Book details</ion-title>
    <ion-buttons slot="end">
      <ion-fab-button size="small" color="tertiary" (click)="onEditBook()">
        <ion-icon name="pencil"></ion-icon>
      </ion-fab-button>
      <ion-fab-button size="small" color="tertiary" (click)="onDeleteBook()">
        <ion-icon name="trash"></ion-icon>
      </ion-fab-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  @if (isLoading){
  <div class="ion-text-center">
    <ion-spinner color="primary"></ion-spinner>
  </div>
  } @else {
  <ion-card>
    <img [src]="book.imageUrl" />
    <ion-card-header>
      <ion-card-title>{{book.title}}</ion-card-title>
    </ion-card-header>
    <ion-card-content> {{book.author}} </ion-card-content>
    <ion-card-content> {{book.genre}} </ion-card-content>
  </ion-card>
  <!-- <ion-button class="ion-margin">SAVE</ion-button> -->

  }
</ion-content>
